body {
    background-color: #588E47;
    font-family:monospace;
}
button {
    background-color: black;
    color: #FDE666;
    font-family: monospace;
    transition: background-color 0.3s ease; 
    transition: color 0.3s ease, transform .3s ease; 
}
button:hover {
  background-color: #FDE666; 
  color: black;
  transform: scale(1.15);
}
div {
    opacity: 0;
    user-select: none;
}
@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}